<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p align="center"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br /> <strong><span
                style="text-decoration: underline;">Độc lập &ndash; Tự do &ndash; Hạnh phúc</span></strong><br />
        <strong>&nbsp;</strong>
    </p>
    <p align="center"><strong>HỢP ĐỒNG VAY VỐN</strong></p>
    <p align="center"><em>Số: ……/HĐ/……..</em></p>
    <div style="margin-left: 2cm; 
    margin-right: 1.5cm;">
        <p><em>- Căn cứ Bộ Luật Dân sự năm 2015;</em></p>
        <p><em>- Căn cứ Luật Ngân hàng nhà nước Việt nam năm 2010;</em></p>
        <p>Hôm nay ngày <%= loan.day%> tháng <%= loan.month%> năm <%= loan.yeah%> tại, chúng tôi gồm:</p>
        <p><strong>1. Bên A: (Bên cho vay)</strong></p>
        <p>Địa chỉ: Số 1 đường Đê La Thành, Hà Nội</p>
        <p>Điện thoại: 0344569023</p>
        <p>Đại diện: ngân hàng ABC</p>
        <p>Chức vụ: Trưởng phòng kinh doanh</p>
        <p><strong>2. Bên B: (Bên vay)</strong></p>
        <p>Họ và tên: <%= loan.name%>
        </p>
        <p>Căn cước công dân: <%= loan.cmnd%>
        </p>
        <p>Địa Địa chỉ: <%= loan.cmnd_add%>
        </p>
        <p>Điện thoại: <%= loan.phoneNumber%>
        </p>
        <p>Hai bên thống nhất việc Bên A cho Bên B vay tiền từ Quỹ Tín chấp của ngân hàng ABC
            khoản, điều kiện dưới đây:</p>
        <p><strong>Điều 1: Nội dung cho vay</strong></p>
        <p>Tổng số tiền vay bằng số là <%= loan.amount%> đ, bằng chữ là <%= loan.amount_word%> đồng.
        </p>
        <p><strong>Điều 2: Mục đích sử dụng tiền vay</strong></p>
        <p>Số tiền vay sẽ được sử dụng vào mục đích đề cập trong Dự án/Phương án sản xuất kinh doanh đính kèm. Dự
            án/Phương
            án được coi là bộ phận không tách rời của Hợp đồng này.
        <p><strong>Điều 3: Thời hạn cho vay</strong></p>
        <p>3.1. Thời hạn cho vay là <%= loan.term%> tháng, từ ngày ...... đến ngày .... tháng .... năm ....</p>
        <p>3.2. Ngày trả nợ cuối cùng là..../..../........</p>
        <p><strong>Điều 4: Lãi suất cho vay</strong></p>
        <p>4.1. Lãi suất cho vay là <%= loan.interest%> %/tháng (số tiền viết bằng chữ), được tính trên tổng số tiền
                vay.
        </p>
        <p>4.2. Tiền lãi được tính trên tổng số tiền vay, theo lãi suất cho vay nhân với thời gian vay. Thời gian vay
            được
            kể từ ngày Bên B nhận tiền vay đến ngày trả hết nợ gốc và lãi (kể cả lãi quá hạn nếu có), căn cứ vào các
            phiếu
            thu của văn phòng Hội được hai bên ký nhận theo điều 4.3 dưới đây.</p>
        <p>4.3. Trường hợp Bên B nhận tiền vay thành nhiều lần thì mỗi lần nhận tiền vay, hai bên ký Phiếu thu hoặc Biên
            lai
            nhận nợ. Phiếu thu, biên lai nhận nợ là bộ phận không tách rời của Hợp đồng này.</p>
        <p>4.4. Lãi suất nợ quá hạn: Trường hợp đến kỳ trả nợ gốc và lãi, nếu Bên B không thanh toán toàn bộ nợ (gốc và
            lãi)
            mà không có thoả thuận nào khác với Bên A thì Bên B phải chịu lãi suất nợ quá hạn bằng 150% (một trăm năm
            mươi
            phần trăm) lãi suất cho vay.</p>
        <p><strong>Điều 5: Quyền và nghiã vụ của Bên A</strong></p>
        <p>5.1. Có các quyền, nghĩa vụ theo quy định của Quy chế vay Tín chấp của Hội</p>
        <p>5.2. Yêu cầu Bên B thực hiện các nghĩa vụ đã cam kết.</p>
        <p>5.3. Ngừng cho vay, chấm dứt việc cho vay, thu hồi nợ trước hạn khi phát hiện Bên B cung cấp thông tin sai sự
            thật, vi phạm hợp đồng..</p>
        <p>5.4. Giao cho Bên B tiền vay theo lịch trình đã thoả thuận tại Hợp đồng này</p>
        <p>5.5. Nhận tiền lãi vay hàng tháng, lãi suất nợ quá hạn trong trường hợp đến kỳ thanh toán mà Bên B không trả
            được
            nợ;</p>
        <p><strong>Điều 6: Quyền và nghĩa vụ của Bên B</strong></p>
        <p>6.1. Yêu cầu Bên A thực hiện đúng các nghĩa vụ đã cam kết.</p>
        <p>6.2. Từ chối các yêu cầu của Bên A không đúng với các thỏa thuận trong Hợp đồng này.</p>
        <p>6.3. Sử dụng tiền vay đúng mục đích và thực hiện đúng các nội dung khác đã thỏa thuận trong Hợp đồng vay vốn;
        </p>
        <p>6.4. Thanh toán đầy đủ, đúng hạn toàn bộ nợ (gốc và lãi) cho Bên A ;</p>
        <p>6.5. Chịu tr&aacute;ch nhiệm trước Hội, trước ph&aacute;p luật khi kh&ocirc;ng thực hiện đ&uacute;ng cam kết
            theo
            Hợp đồng n&agrave;y hoặc vi phạm Quy chế Quỹ T&iacute;n chấp.</p>
        <p><strong>Điều 7: Chấm dứt Hợp đồng trước thời hạn</strong></p>
        <p>7.1. Hợp đồng n&agrave;y sẽ chấm dứt trước thời hạn khi xảy ra một trong c&aacute;c sự kiện sau:</p>
        <p>a) Hai B&ecirc;n đồng &yacute; chấm dứt Hợp đồng trước thời hạn</p>
        <p>b) Một trong hai b&ecirc;n kh&ocirc;ng thực hiện nghĩa vụ của m&igrave;nh;</p>
        <p>b) Khi một b&ecirc;n l&agrave; c&aacute; nh&acirc;n bị chết hoặc mất năng lực h&agrave;nh vi d&acirc;n sự;
        </p>
        <p>c) Khi một b&ecirc;n l&agrave; ph&aacute;p nh&acirc;n hợp nhất, chia t&aacute;ch hoặc chuyển giao quyền sở
            hữu
            m&agrave; ph&aacute;p nh&acirc;n mới kh&ocirc;ng c&oacute; mong muốn hoặc khả năng để tiếp tục thực hiện hợp
            đồng như đ&atilde; thoả thuận.</p>
        <p>7.2. Khi một trong c&aacute;c sự kiện tại Điều 7.1 quy định ở tr&ecirc;n xảy ra, b&ecirc;n chấm dứt trước
            thời
            hạn th&ocirc;ng b&aacute;o trước thời hạn cho b&ecirc;n kia 15 ng&agrave;y. Hai b&ecirc;n sẽ lập bản Thanh
            l&yacute; hợp đồng trước thời hạn v&agrave; ho&agrave;n trả cho nhau những g&igrave; đ&atilde; nhận.</p>
        <p><strong>Điều 8: Sửa đổi, bổ sung, thanh l&yacute; Hợp đồng</strong></p>
        <p>8.1. C&aacute;c điều khoản trong Hợp đồng n&agrave;y c&oacute; thể được sửa đổi, bổ sung theo thoả thuận của
            c&aacute;c b&ecirc;n. Bất kỳ sự sửa đổi, bổ sung n&agrave;o phải được lập th&agrave;nh văn bản, c&oacute;
            chữ
            k&yacute; của hai b&ecirc;n v&agrave; l&agrave; một bộ phận kh&ocirc;ng t&aacute;ch rời của Hợp đồng
            n&agrave;y,
            v&agrave; ho&agrave;n to&agrave;n kh&ocirc;ng ảnh hưởng đến hiệu lực của c&aacute;c điều khoản kh&aacute;c.
        </p>
        <p>8.2. Hợp đồng n&agrave;y được thanh l&yacute; sau khi B&ecirc;n B đ&atilde; ho&agrave;n th&agrave;nh mọi
            nghĩa vụ
            theo quy định tại Hợp đồng n&agrave;y.</p>
        <p><strong>Điều 9: Giải quyết tranh chấp</strong></p>
        <p>C&aacute;c tranh chấp hợp đồng n&agrave;y sẽ được hai b&ecirc;n giải quyết bằng thương lượng theo tinh thần
            b&igrave;nh đẳng v&agrave; c&ugrave;ng c&oacute; lợi. Trường hợp kh&ocirc;ng thể giải quyết được bằng thương
            lượng, hai b&ecirc;n sẽ đưa tranh chấp ra giải quyết tại To&agrave; &aacute;n c&oacute; thẩm quyền tại
            H&agrave;
            Nội.</p>
        <p><strong>Điều 10: Hiệu lực v&agrave; số bản của Hợp đồng</strong></p>
        <p>10.1. Hợp đồng c&oacute; hiệu lực từ ng&agrave;y k&yacute; v&agrave; kết th&uacute;c khi c&aacute;c nghĩa vụ
            đ&atilde; được thực hiện xong.</p>
        <p>10.2. Hợp đồng n&agrave;y được lập th&agrave;nh hai (02) bản gốc c&oacute; gi&aacute; trị ph&aacute;p
            l&yacute;
            ngang nhau, mỗi b&ecirc;n giữ một bản.</p>
        <p>&nbsp;</p>
        <p><strong>ĐẠI DIỆN B&Ecirc;N
                A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ĐẠI
                DIỆN B&Ecirc;N
                B</strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>
        </p>
        <p><em>&nbsp;&nbsp;&nbsp;&nbsp;(K&yacute;, ghi r&otilde;
                họ&nbsp;t&ecirc;n)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                (K&yacute;, ghi r&otilde; họ t&ecirc;n)</em></p>
        <p><em>&nbsp;</em></p>
        <p><em>&nbsp;</em></p>
        <p><em>(Hợp đồng n&agrave;y chỉ mang t&iacute;nh chất tham khảo)</em></p>
        <p>&nbsp;</p>
    </div>
</body>

</html>